:root{
    --color-primary: #FF2418;
    --color-secondary: #5D6678;
    --color-terciary: /*#FFFFFF*/ #112135;
    --color-cuarto: #FFBE0F;
    --background-btn-pri: #FF2418;
    --background-btn-sec: #81291E;
    --background-btn-ter: #EF5350;
}