:root {
  --var-font-roboto: "Roboto", sans-serif;
  --var-font-rubik: "Rubik", sans-serif;
  --var-color-prin: #004d61;
  --var-color-sec: #ff502f;
  --var-color-celeste: #5bd1d7;
  --var-color-celeste--claro: #eaf5ff;
  --var-color-celeste--oscuro: #a9c6de;
  --var-color-verde: #348498;
  --var-color-texto--pendiente: #5c4806;
  --var-color-fondo--pendiente: #ffe799;
  --var-color-texto--finalizado: #07252d;
  --var-color-fondo--finalizado: #a2deed;
  --var-color-texto--cancelado: #4e1b12;
  --var-color-fondo--cancelado: #f3a89a;
}

body {
  height: 100vh;
  /* overflow: hidden; */
  font-family: var(--var-font-roboto);
}

/* fuentes colores */
.f-prin {
  color: var(--var-color-prin);
}
.f-sec {
  color: var(--var-color-sec);
}
.f-blanco {
  color: white;
}

button,
.btn,
[type="submit"] {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.874rem;
    line-height: normal;
  letter-spacing: 0.078125rem;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(0, 77, 97, 0.25) !important;
}
.btn-close {
  box-shadow: none !important;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 1rem;
  height: 3rem;
  background: #004d61;
  border-radius: 8px;
  border: none;
  color: white;
  animation: 1s ease-in-out;
  height: max-content;
  &:hover {
    filter: contrast(0.9);
  }
}

.btn-outline-primary--agregar{
  background: white;
  color: var(--var-color-texto--pendiente);
  border: 2px solid var(--var-color-fondo--pendiente);
  &:hover,&:active,&:focus{
    background: var(--var-color-fondo--pendiente);
    border: 2px solid var(--var-color-fondo--pendiente);
  }
}
.btn-check:checked+.btn-outline-primary--agregar{
  background: var(--var-color-fondo--pendiente);
    border: 2px solid var(--var-color-fondo--pendiente);
  
}
.btn-outline--secondary{
  background: white;
  color: var(--var-color-verde);
  border: 2px solid var(--var-color-verde);
  &:hover,&:active,&:focus{
    background: var(--var-color-verde);
    border: 2px solid var(--var-color-verde);
    color: white;
  }
}
.btn-check:checked+.btn-outline--secondary{
  background: var(--var-color-verde);
  border: 2px solid var(--var-color-verde);
  color: white;
}

.btn-outline--danger{
  background: white;
  color: var(--var-color-sec);
  border: 2px solid var(--var-color-sec);
  &:hover,&:active,&:focus{
    background: var(--var-color-fondo--cancelado);
    border: 2px solid var(--var-color-fondo--cancelado);
    color: var(--var-color-texto--cancelado);
  }
}
.btn-check:checked+.btn-outline--danger{
  background: var(--var-color-fondo--cancelado);
  border: 2px solid var(--var-color-fondo--cancelado);
  color: var(--var-color-texto--cancelado);
}

h1,
.h1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 300;
  font-size: 6rem;
  line-height: 7rem;
  letter-spacing: -0.078125rem;
}

h2,
.h2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 4.375rem;
  letter-spacing: -0.03125rem;
}

h3,
.h3 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3.5rem;
}

.h3-rubick {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5625rem;
}

h4,
.h4 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: 0.015625rem;
}

h5,
.h5 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h6,
.h6 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.009375rem;
}

.text-body-1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.03125rem;
}

.text-body-2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.015625rem;
}

.text-subititle-1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.009375rem;
}

.text-subititle-2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.00625rem;
}

.text-caption {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0.875rem;
  letter-spacing: 0.025rem;
}

.text-overline {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.09375rem;
}

.text-link {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.078125rem;
  text-decoration-line: underline;
}

.z-index-pri {
  z-index: 2;
}

/* Seccion izquierda */
.container_login_imagen {
  background: url(../imgs/imagen-login.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 60%;
  min-width: 200px;
}

.login_cards {
  display: grid;
  gap: 1rem;
}
.login_card {
  width: 90%;
  color: white;
  height: min-content;
  max-width: 486px;
  background: black;
  padding: 1rem;
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  gap: 16px;
  border-radius: 1.25rem;
  background: rgba(204, 204, 204, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  backdrop-filter: blur(12px);
  h4 {
    width: 80%;
  }
}

.login_card img {
  height: 4.5rem;
}

/* formulario */
.container_login_formulario {
  position: relative;
  background: white url(../imgs/fondo.svg);
  background-size: cover;
  background-position: bottom right;
  overflow: hidden;
  z-index: 2;

  form {
    display: grid;
    gap: 0.5rem;
    width: 65%;
    .button{
      margin-top: 1.5rem;
    }
  }
}
.blob-orange,
.blob-green {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.blob-orange {
  top: -530px;
  left: -400px;
}

.subtitle_login {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.subcontainer_login_formulario {
  width: max-content;
  height: 100%;
  display: grid;
  align-content: center;
  padding-top: 2rem;
  gap: 0.7rem;
}
/* radiobutons crud */
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn-check[disabled] + .btn,
.btn-check:disabled + .btn {
  pointer-events: none;
  -webkit-filter: none;
  filter: none;
  opacity: 0.65;
}
/* funcionamiento de radiobuttons forms */
#btnradio1:checked ~ .sec1,
#btnradio2:checked ~ .sec2,
#btnradio3:checked ~ .sec3 {
  display: block !important;
  z-index: 1;
  top: 110%;
}

/* navbar */
#navbar-desplegar{
  background: var(--var-color-prin);
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  padding: .5rem .4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
  z-index: 1;
  svg{
    width: 48px;
    height: 48px;
    padding-left: 2px;
  }
  button{
    opacity: 0;
    display: none;
  }
}
.navbar.active{
  display: grid !important;
  & + #navbar-desplegar{
    svg{
      opacity: 0;
      display: none;
    }
    button{
      opacity: 1;
      display: block;
      font-size: 2rem;
    }
  }
}
.navbar {
  background: var(--var-color-prin);
  padding: 1.25rem;
  display: grid;
  min-width: 218px;
  align-content: baseline;
  gap: 28px;
  overflow-x: hidden;
  z-index: 1;
}
/* logo svg */
.logo-svg {
  width: 100%;
  height: min-content;
}
.logo-svg > path {
  fill: white;
}
/* \logo svg */
/* datos usuario */
.navbar_usuario {
  background: #eaf5ff25;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.nombre-usuario {
  position: relative;
  &::before {
    content: "@";
    position: absolute;
    left: -13px;
    top: -2px;
  }
}
/* \datos usuario */
/* navbar-links */
.indicador{
  background: white;
  position: absolute;
  height: 100%;
  width: 120%;
  margin-left: -12px;
  border-radius: 1.25rem 0 0 1.25rem;
  top: -4px;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transform: translateX(100%);
  transition: all .5s ease-in-out;
}
.navbar-links {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1.25rem;
  position: relative;
  a {
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 1.25rem;
    span {
      margin-top: 2px;
    }
  }
  li {
    padding-left: 12px;
    position: relative;
    z-index: 1;
    a.active, a:hover{
      color: var(--var-color-prin);
      [class^=icon-]>*{
        stroke: var(--var-color-prin);
      }
      .icon-pedido>path{
        stroke: none;
        fill: var(--var-color-prin);
      }
      & + .indicador {
        opacity: 1;
        transform: translateX(0%);
        &::after{
          content: '';
          display: block;
          background: white;
          position: absolute;
          height: 180%;
          width: 1.25rem;
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
        }
        &>span:nth-child(1){
          width: 2.5rem;
          height: 1.25rem;
          background: var(--var-color-prin);
          position: absolute;
          top: -1.25rem;
          right: 15px;
          z-index: 1;
          border-radius: 0 0 5rem 0;
        }
        &>span:nth-child(2){
          width: 2.5rem;
          height: 1.25rem;
          background: var(--var-color-prin);
          position: absolute;
          bottom: -1.25rem;
          right: 15px;
          z-index: 1;
          border-radius: 0 5rem 0 0;
        }
      }
    }
  }
}
/* animacion de identificador */
@keyframes navIdentificador {
  from{
      opacity: 0;
      transform: translateX(100%);
  }to{
    opacity: 1;
    transform: translateX(0%);

  }
} 
/* \animacion de identificador */
.icon-inicio > path,
.icon-ventas > path,
.icon-cliente > path,
.icon-pedido > path,
.icon-empleado > path {
  stroke: white;
}
.navbar_btn-cerrar_sesion {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: start;
  box-shadow: none !important; 
  svg {
    margin-right: 28px;
  }
}
/* \navbar-links */
/* \navbar */

/* seccion de datos inicio */
/* cards dashbord */
  .container_cards_dashbord{
    display: grid;
    padding-top: 1.25rem;
    gap: 12px;
    .card_dashbord{
      padding: 16px;
      box-shadow: 0 4px 1.25rem #004d6110;
      border-radius: 1.25rem;
      display: grid;
      cursor: pointer;
      color: var(--var-color-prin);
      transition: .3s ease-in-out;
      .cad_dashbord-datos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>span{
          font-weight: normal;
      }
      }
      .card_dashbord-titulo{
        opacity: .75;
      }
      &:hover{
        background: var(--var-color-prin);
        color: white;
        .cad_dashbord-datos svg>path{
          fill: white;
        }
        &:nth-child(4) .cad_dashbord-datos svg>path{
          fill: none;
          stroke: white;
        }
      }
    }
} 
/* \cards dashbord */
/* tables de datos */
.container_tables{
  padding-top: 44px;
  padding-bottom: 1.25rem;
  display: grid;
  gap: 1.25rem;
  width: 100%;
}
.container_table--pedidos_recientes,.container_table--ultimos_clientes{
  padding: 1.25rem;
  box-shadow: 0 4px 1.25rem #07252d15;
  border-radius: 1.25rem;
  background: white;
}
.container_table--pedidos_recientes{
  overflow: auto;
  .container_table--pedidos_recientes-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    color: #004d61;
    .btn--pedidos_recientes{
      height: min-content;
    }
  }
  .container_table--pedidos_recientes-table{
    overflow: auto;
  }
}
.container_table--ultimos_clientes{
  .container_table--ultimos_clientes-head{
    color: #004d61;
  }
  .container_table--ultimos_clientes-list{
    display: grid;
    gap: 12px;
    list-style: none;
    padding: 0;
  }
}
/* \tables de datos */
/* \seccion de datos inicio */
/* clientes */
.container_datos-vista_detalles h4,.container_datos-tabla{
  color: #004d61;
}
.container_datos-tabla{
  margin-top: 100vh !important;
}
/* \clientes */

/* Resposive */
@media screen and (max-width: 768px) {
  .logo {
    width: 100%;
    padding-top: 0.5rem;
  }
  .h3-rubick {
    font-size: 28px;
  }
  .blob-orange {
    top: -530px;
    left: -590px;
  }
  .container_login_formulario {
    position: absolute;
    top: 30%;
    border-radius: 50px;
  }
  .subcontainer_login_formulario {
    align-content: flex-start;
    padding-top: 3rem;
    width: 100%;
    justify-content: center;
    gap: 0;
    form {
      width: 100%;
    }
  }
  .subtitle_login{
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  /* inicio */
  .container_cards_dashbord{
    grid-template-columns: repeat(4,1fr);
  }
  .container_tables{
    grid-template-columns: 1fr max-content;
  }
  /* clientes */
  .container_datos-forms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 30px;
    .container_datos-forms-crud {
      height: min-content;
      order: 1;
    }
    .container_datos-vista_detalles-head{
      padding-top: 0 !important;
      margin-top: -10px;
    }
  }
}